/* Estilos generales */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 50px;
}

img {
  margin: 54px auto;
  max-width: 100%;
}

.navbar {
  background-color: #1B396A;
  /* Color azul rey */
  width: 10%;
  /* Ancho de la barra de navegación */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 100%;
  transition: 0.3s;
  font-size: 20px;
  /* Agregar transición para un cambio suave en la transición */
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  /* Color del texto en la barra de navegación */
  display: block;
  padding: 10%;
  margin: 1%;
}

/* Estilos al seleccionar */
.navbar ul li a:hover {
  background-color: rgb(255, 255, 255);
  /* Cambiar color de fondo al pasar el mouse */
  padding-left: 90px;
  /* Aumentar el padding al pasar el mouse */
  padding-right: 50px;
  border: 10px;
  border-radius: 10px;
  color: black;
}

.navbar2 {
  background-color: #1B396A;
  color: #fff;
  margin-left: 135px;
  margin-top: -56px;
  margin-right: 0px;
}

.navbar2 p {
  font-size: 20px;
  margin-right: 800px;
}

.navbar2 ul {
  list-style: none;
  padding: 0;
}

.navbar2 ul li {
  margin: -17px auto;
  text-align: end;
  font-size: 20px;
  margin-left: 900px;
  margin-top: -40px;
  margin-right: 30px;
}

.navbar2 ul li a {
  text-decoration: none;
  color: white;
  /* Color del texto en la barra de navegación */
}

.content {
  margin-top: 10px;
  margin-left: 350px;
  margin-right: 250px;
  background-color: #f2f2f2;
  border: 10px solid transparent;
  border-radius: 20px;
  /* Ajusta el margen izquierdo para dar espacio al navbar */
}


/* Línea gris arriba del checklist */


/* Estilos para el contenedor de cuestionario */
.cuestionario {
  padding-left: 90%;
  margin-left: -80px;
  margin-right: 250px;
  margin-top: -160px;
  text-align: justify;
}

/* Estilos para el contenedor de texto e imagen */
.content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.side-image {
  max-width: 115px;
  /* Ajusta el ancho máximo de la imagen */
  margin-left: 750px;
  /* Espacio entre la imagen y el texto */
  margin-top: 180px;
  margin-right: -10px;
  margin-bottom: -130px;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3.5px solid #5a7fed;
  /* Borde del mismo color */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 25%;
}

.filled {
  background-color: #5a7fed;
  /* Color de círculos llenados */
  opacity: 100%;
}

.checkmark {
  color: #fff;
  /* Color de la palomita */
  font-size: 25px;
  border-radius: 10%;
  line-height: 1;
  position: absolute;
}

/* Estilos para el texto encima del círculo */
.top-text {
  position: absolute;
  top: -30px;
  /* Ajusta la posición vertical */
  left: 0%;
  /* Alineación a la derecha */
  font-size: 10px;
  align-items: center;
  white-space: nowrap;
}

.text-negritas {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.text-plano {
  position: absolute;
  font-size: 12px;
  margin-left: 40%;
  margin-top: 20%;
}

/* Estilos para el texto debajo del círculo */
.bottom-text {
  position: absolute;
  bottom: -30px;
  /* Ajusta la posición vertical */
  left: 50%;
  /* Alineación al centro */
  transform: translateX(-50%);
  /* Centrar el texto horizontalmente */
  font-size: 10px;
  white-space: nowrap;

}

.line {
  width: 17%;
  height: 2px;
  border: 2px solid #5a7fed;
  /* Borde del mismo color */
  background-color: #5a7fed;
  /* Color gris para líneas no conectadas */
  opacity: 25%;
}


.filled+.line {

  background-color: #5a7fed;
  /* Color de líneas conectadas */
  opacity: 100%;

}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-backward,
.button-forward {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  /* Borde del botón */
  border-radius: 50%;
  /* Hacer botón circular */
  background: transparent;
  /* Fondo transparente */
  cursor: pointer;
  position: relative;
}

.button-backward::before,
.button-forward::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.button-backward::before {
  border-width: 8px 8px 8px 0;
  border-color: transparent #ff6347 transparent transparent;
  /* Color y dirección de la flecha */
  left: 45%;
  /* Centra la flecha */
}

.button-forward::before {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #007bff;
}

.button-backward {
  margin-right: auto;
  /* Empuja el botón "Backward" a la izquierda */
  margin-left: 15%;
  /*MODIFICAR AL TERMINAR EL MENÚ DESPLEGABLE*/
  border: 2px solid #ff6347;
  /* Borde circular */
}

.button-forward {
  margin-left: auto;
  /* Empuja el botón "Forward" a la derecha */
  border: 2px solid #007bff;
  /* Borde circular */
}

/*MODIFICAR AL TERMINAR EL MENÚ DESPLEGABLE*/
.page-counter1 {

  font-size: 18px;
  /* Tamaño del texto */
  margin-left: 56.65%;
  position: relative;
}

.page-counter {

  font-size: 18px;
  /* Tamaño del texto */
  margin-left: auto;
  /* Ajuste de los márgenes para centrar el texto */
  margin-right: auto;
  position: relative;
}

.page-counter5 {

  font-size: 18px;
  /* Tamaño del texto */
  margin-right: 41.65%;
  position: relative;
}

.linea {
  margin-top: 40px;
  margin-left: -145px;
  margin-bottom: -65px;
  color: #ccc;
}